footer {
    padding-top: 15px;
    padding-bottom: 2rem;
    color: var(--card-text-color);
    border-top: 1px solid var(--border-color);
}

footer .flex {
    justify-content: space-between;
}

@media(max-width: 768px) {
    footer .flex {
       flex-direction: column;
    }

    footer .left p {
        padding-bottom: 5px;
    }
}