.small-nav {
    position: relative;
    background-color: var( --btn-trans-color);
    padding: 12px 0;
}

.small-nav .flex {
    justify-content: space-between;
}

.small-nav ul {
    display: flex;
}

.small-nav ul li {
    margin: 0 10px;
}

.left img {
    margin-right: 10px;
}

@media(max-width: 500px) {
    .small-nav ul li {
        margin: 0;
    }

    .left img {
        margin-right: 5px;
    }

    .right img {
        margin-left: 10px;
    }
}